Repository Epix-Incorporated/Adonis, pull requests merged in 2022-11, with the labels that each got.

#838 Dex API dump update
  MainModule/Server/Plugins/Server-Dex.rbxmx
Labels: ✨ enhancement, 🚩 HELP WANTED

#926 Prevent BindToClose bug.
  MainModule/Server/Core/Core.lua
  MainModule/Server/Core/Logs.lua
  MainModule/Server/Server.lua
Labels: 🐛 bug

#931 Optimisations and bug fixes
  Loader/Loader/Loader.server.lua
  MainModule/Client/Core/Remote.lua
  MainModule/Client/UI/Default/Alert.lua
  MainModule/Client/UI/Default/Aliases.lua
  MainModule/Client/UI/Default/ColorPicker.lua
  MainModule/Client/UI/Default/Countdown.lua
  MainModule/Client/UI/Default/Effect.lua
  MainModule/Client/UI/Default/PrivateChat.lua
  MainModule/Client/UI/Default/SelectionPrompt.lua
  MainModule/Client/UI/Default/UserPanel.lua
  MainModule/Client/UI/Default/Vote.lua
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Core/Core.lua
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Core/Remote.lua
  MainModule/Server/Dependencies/Assets/BotBrain.rbxmx
  MainModule/Server/Plugins/Cross_Server.lua
  MainModule/Server/Plugins/Generate_CmdList_JSON.lua
  MainModule/Server/Shared/AudioLib.lua
  MainModule/Server/Shared/Service.lua
  MainModule/Server/Shared/Typechecker.lua
Labels: ✨ enhancement, ⚡ command

#942 AssetTypeVerification for Humanoid:ApplyDescription()
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Core/Functions.lua
Labels: ☢️ vulerability, ⚡ command
