Repository Epix-Incorporated/Adonis, pull requests merged in 2022-06, with the labels that each got.

#801 [FIX] Remove Debug Messages from Unity theme, small design fixes
  MainModule/Client/UI/Unity.rbxmx
Labels: bug

#800 Fixed :dogg for R15 characters
  MainModule/Server/Commands/Fun.lua
Labels: bug, command

#803 Reactivate filtering for time ban commands
  MainModule/Server/Commands/HeadAdmins.lua
  MainModule/Server/Plugins/Server-SoftShutdown.lua
Labels: enhancement, command

#807 Fixed mystery error
  MainModule/Client/Core/Anti.lua
Labels: bug, anti-exploit

#796 Add date to old server logs
  MainModule/Server/Commands/Moderators.lua
Labels: enhancement

#782 some command updates (updated insert, musiclist, unban and ungameban)
  MainModule/Client/UI/Default/List.lua
  MainModule/Server/Commands/Admins.lua
  MainModule/Server/Commands/HeadAdmins.lua
  MainModule/Server/Commands/Moderators.lua
Labels: enhancement, command

#814 Some command feedback-related UX and misc. improvements
  MainModule/Server/Commands/Admins.lua
  MainModule/Server/Commands/HeadAdmins.lua
  MainModule/Server/Commands/Moderators.lua
Labels: enhancement, command

#790 Command cooldowns and ratelimit system + misc. improvements
  Loader/Config/Settings.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
  MainModule/Server/Shared/Service.lua
Labels: enhancement, FIX INCOMING

#727 Set ReplicationFocus back to Player
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Core/Functions.lua
Labels: bug, minor, command

#806 Fix NoEnv bugs and enforce NoEnv on ServerPlugins
  MainModule/Client/Client.lua
  MainModule/Client/Core/UI.lua
  MainModule/Client/UI/Default/CommsCenter.lua
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Plugins/Cross_Server.lua
  MainModule/Server/Plugins/Debug_Specific.lua
  MainModule/Server/Plugins/FindExistingObjects.lua
  MainModule/Server/Plugins/Generate_CmdList_JSON.lua
  MainModule/Server/Plugins/Misc_Features.lua
  MainModule/Server/Plugins/Server-Dex.rbxmx
  MainModule/Server/Plugins/Server-SoftShutdown.lua
  MainModule/Server/Plugins/Urgent_Messages.lua
  MainModule/Server/Plugins/WebPanel.lua
  MainModule/Server/Server.lua
Labels: bug, enhancement

#817 Added "Fun = false;" to avataritem command.
  MainModule/Server/Commands/Moderators.lua
Labels: minor, command

#824 Fixing commands bugs and service warning
  MainModule/Server/Core/Commands.lua
  MainModule/Server/Shared/Service.lua
Labels: bug

#818 Reclassify :transparency and :transparentpart as not fun
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/Moderators.lua
Labels: minor, command

#821 Reclassify :color as not fun
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/Moderators.lua
Labels: minor, command

#825 Partial fixes for Window
  MainModule/Client/UI/Aero.rbxmx
  MainModule/Client/UI/Default/Window.rbxmx
  MainModule/Client/UI/Unity.rbxmx
  MainModule/Client/UI/Windows XP.rbxmx
Labels: bug, UI

#826 Make the custom clothing commands compatible with the HumanoidDescription ones
  MainModule/Server/Commands/Moderators.lua
Labels: bug, command

#830 Ban moderator information
  MainModule/Server/Commands/Admins.lua
  MainModule/Server/Commands/Creators.lua
  MainModule/Server/Commands/HeadAdmins.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Core/Admin.lua
Labels: enhancement, command

#829 Changed "clean" command prefix to regular prefix not the player one.
  MainModule/Server/Commands/Moderators.lua
Labels: minor, command

#832 Update !join and !joinfriend
  MainModule/Server/Commands/Players.lua
Labels: vulerability, command

#833 Switch most teleportation-related commands to using TeleportAsync
  MainModule/Server/Commands/Creators.lua
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/HeadAdmins.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Commands/Players.lua
Labels: enhancement, command

#834 Deprecation of Remote.UnEncrypted
  MainModule/Client/Core/Process.lua
  MainModule/Client/Core/Remote.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Core/Remote.lua
Labels: enhancement, minor, vulerability

#835 Rename Tool Cent"er"
  MainModule/Client/UI/Default/ToolPanel.lua
Labels: minor, UI

#836 Add settings.SilentCommandDenials
  Loader/Config/Settings.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: enhancement, loader

#837 Command permission system changes
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Core/Process.lua
Labels: enhancement, vulerability

#839 No Description commands fix
  MainModule/Server/Commands/Players.lua
Labels: bug, minor, command

#842 Create Typechecker
  MainModule/Server/Shared/Typechecker
Labels: enhancement

#843 Fix for :resetstats not resetting NumberValues
  MainModule/Server/Commands/Moderators.lua
Labels: bug, minor, command
