Repository Epix-Incorporated/Adonis, pull requests merged in 2022-07, with the labels that each got.

#848 Check for specific http-enabled error for HTTP check
  MainModule/Server/Core/HTTP.lua
Labels: bug, trello

#846 Fix TrelloAPI requiring Token
  MainModule/Server/Dependencies/TrelloAPI.lua
Labels: bug, minor, trello

#867 when the table is nil it errors, but this should fix it
  MainModule/Server/Core/Core.lua
Labels: minor

#856 Added timestamps to serverlogs
  MainModule/Server/Commands/Moderators.lua
Labels: enhancement, command

#851 New warning events and QoL changes.
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Shared/Service.lua
Labels: bug, command

#870 Remove all instances of pairs()/ipairs() in core modules
  MainModule/Client/Core/Anti.lua
  MainModule/Client/Core/Functions.lua
  MainModule/Client/Core/Remote.lua
  MainModule/Client/Core/UI.lua
  MainModule/Server/Commands/Admins.lua
  MainModule/Server/Commands/Creators.lua
  MainModule/Server/Commands/Donors.lua
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/HeadAdmins.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Core/Anti.lua
  MainModule/Server/Core/Commands.lua
  MainModule/Server/Core/Core.lua
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Core/HTTP.lua
  MainModule/Server/Core/Logs.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Core/Remote.lua
  MainModule/Server/Core/Variables.lua
Labels: enhancement, command

#873 Theming Info update
  MainModule/Client/Dependencies/Theming_Info [Read].lua
Labels: 📝 minor

#875 Better GetPlayers and FakePlayers
  MainModule/Server/Core/Functions.lua
Labels: ✨ enhancement

#879 Change Set FPS to not exceed 60
  MainModule/Server/Commands/Fun.lua
Labels: 📝 minor, ⚡ command, 📄 documentation

#853 Update Colorize Theme to use TweenService and task.wait
  MainModule/Client/UI/Colorize.rbxmx
Labels: ✨ enhancement, 📱 UI
