Repository Epix-Incorporated/Adonis, pull requests merged in 2022-08, with the labels that each got.

#889 Add a healthlist command
  MainModule/Server/Commands/Moderators.lua
Labels: ⚡ command

#890 Removal of next() and pairs() from codebase
  MainModule/Client/Core/Functions.lua
  MainModule/Client/Core/Process.lua
  MainModule/Client/Core/Remote.lua
  MainModule/Server/Core/Anti.lua
  MainModule/Server/Core/Remote.lua
  MainModule/Server/Dependencies/ClientLoader.client.lua
  MainModule/Server/Dependencies/TrelloAPI.lua
Labels: ✨ enhancement

#892 Update :clientlog ListUpdater
  MainModule/Client/Core/Remote.lua
Labels: ✨ enhancement, ⚡ command

#894 Fixed ban system
  MainModule/Server/Core/Core.lua
  MainModule/Server/Core/Process.lua
Labels: 🐛 bug, ✨ enhancement, ☢️ vulerability

#896 Unincognito command
  MainModule/Client/Client.lua
  MainModule/Server/Commands/Admins.lua
  MainModule/Server/Commands/Creators.lua
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/HeadAdmins.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Core/Core.lua
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Shared/Service.lua
Labels: ✨ enhancement, ⚡ command

#901 QoL fixes
  MainModule/Server/Core/Core.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Core/Remote.lua
Labels: 🐛 bug

#886 Revised: Edit the way Players are Selected
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Core/Functions.lua
Labels: ✨ enhancement, ⚡ command, ❓ ON HIATUS
