Repository Epix-Incorporated/Adonis, pull requests merged in 2022-04, with the labels that each got.

#734 [2/4] The second bi-annual Audio Player update.
  MainModule/Client/UI/Default/Music.rbxmx
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Core/Remote.lua
  MainModule/Server/Shared/AudioLib.lua
Labels: enhancement, minor

#729 Create new AntiClientIdle setting
  Loader/Config/Settings.lua
  MainModule/Client/Core/Anti.lua
  MainModule/Server/Core/Remote.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: minor, anti-exploit

#710 Added 4 commands back, that allow you to change clothings and face with images as well.
  MainModule/Server/Commands/Moderators.lua
Labels: minor, command

#718 Clientside anti-cheat addisions / fixes
  MainModule/Client/Core/Anti.lua
Labels: anti-exploit

#744 Fixed Chatting too quickly & Running commands too quickly rate-limit detections
  MainModule/Server/Core/Process.lua
Labels: enhancement, minor

#745 Important anti bug fixes! and indluded parts of #716 and parts of #733 also fixes anti-dex bypass method 2 kicking all nonadmins
  Loader/Config/Settings.lua
  MainModule/Client/Core/Anti.lua
  MainModule/Server/Core/Anti.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: enhancement, minor, anti-exploit
