Repository Epix-Incorporated/Adonis, pull requests merged in 2022-09, with the labels that each got.

#904 Also add TimeBan to first join check
  MainModule/Server/Core/Process.lua
Labels: 🐛 bug

#850 Made cape parented to character and massless
  MainModule/Client/Core/Functions.lua
Labels: 🐛 bug, ✨ enhancement

#908 Improve !audioplayer global audio permissions system
  MainModule/Client/UI/Default/Music.rbxmx
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Core/Remote.lua
Labels: ✨ enhancement

#907 Change settings.HelpButtonImage description
  Loader/Config/Settings.lua
Labels: ✨ enhancement, 📝 minor, loader

#910 Add settings.Trello_HideRanks
  Loader/Config/Settings.lua
  MainModule/Server/Core/HTTP.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: ✨ enhancement, loader, trello, 📱 UI

#905 Rename 'Admin Logs' to 'Command Logs'
  MainModule/Server/Commands/Moderators.lua
Labels: ✨ enhancement, 📝 minor, ⚡ command, 📱 UI
