Repository Epix-Incorporated/Adonis, pull requests merged in 2023-05, with the labels that each got.

#1019 Added New Dex Plugin
  MainModule/Server/Plugins/ServerNewDex.rbxmx
Labels: ⚡ command

#1108 Update rojo to latest version
  foreman.toml
Labels: github

#1107 Made player and donor commands not save in oldlogs
  MainModule/Server/Core/Logs.lua
  MainModule/Server/Core/Process.lua
Labels: 🐛 bug

#1111 Fix for Tamper Protection 0x16471
  MainModule/Client/Plugins/Anti_Cheat.lua
Labels: 🐛 bug, 🛡️ anti-exploit

#1120 Remove extra "or" on if statement at client Anti_Cheat.lua
  MainModule/Client/Plugins/Anti_Cheat.lua
Labels: 🐛 bug, 🛡️ anti-exploit

#1115 Fix fly unfunctional
  MainModule/Server/Dependencies/Assets/Fly.client.lua
Labels: 🐛 bug, ⚡ command

#1113 Fix :fly on mobile and console
  MainModule/Server/Dependencies/Assets/Fly.client.lua
Labels: 🐛 bug, ✨ enhancement, ⚡ command

#1112 Add - !stopwatch
  MainModule/Client/UI/Default/Stopwatch.lua
  MainModule/Server/Commands/Players.lua
Labels: ⚡ command, 📱 UI
