Repository Epix-Incorporated/Adonis, pull requests merged in 2023-04, with the labels that each got.

#933 Rewrite :control
  MainModule/Server/Commands/Moderators.lua
Labels: 🐛 bug, ⚡ command

#938 Fix for the CountryList commands or "!countries" command (Not working as expected and gives an error upon execution).
  MainModule/Server/Commands/Players.lua
Labels: 🐛 bug, ⚡ command

#1033 Added a much better nuke from <https://github.com/ccuser44/Fast-nuclear-explosion>
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Dependencies/FastNuke.lua
Labels: ✨ enhancement, ⚡ command

#1029 Made mutex not save and removed unnecessary stuff
  Loader/Loader/Loader.server.lua
  MainModule/Client/Client.lua
  MainModule/Client/Core/Functions.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Server.lua
  MainModule/Server/Shared/Service.lua
Labels: 🐛 bug, 🚩 deprecation

#941 Fix for ":noclip" command & the Noclip script (Clipper) along with readability improvements
  MainModule/Server/Dependencies/Assets/Clipper.client.lua
Labels: 🐛 bug, ⚡ command

#1081 [Reduce Adonises file size by a lot]: Replaced DEX Properties API dump with a minified API dump
  MainModule/Server/Plugins/Server-Dex.rbxmx
Labels: ✨ enhancement

#1101 Add me to credits
  MainModule/Server/Shared/Credits.lua
Labels: 📝 minor

#1098 add myself to credits because pro
  MainModule/Server/Shared/Credits.lua
Labels: 📝 minor

#1100 Add me to credits
  MainModule/Server/Shared/Credits.lua
Labels: 📝 minor

#1097 Fix :awardbadge
  MainModule/Server/Commands/HeadAdmins.lua
Labels: 🐛 bug, ⚡ command

#1095 Fix LICENSE.md link
  README.md
Labels: 📝 minor, github, 🐜 fault

#1093 Added a better and much faster base64 implementation
  MainModule/Client/Core/Functions.lua
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Shared/Credits.lua
Labels: ✨ enhancement

#1090 Made IDEs trim trailing whitespace and use linefeed
  .editorconfig
  .gitattributes
Labels: ✨ enhancement, github

#1089 Update cool person's name
  MainModule/Server/Shared/Credits.lua
Labels: 📝 minor

#1096 Fixed an anti bypass
  MainModule/Client/Core/Anti.lua
Labels: ☢️ vulerability, 🛡️ anti-exploit

#1086 Deprecate custom Adonis Adonis Base64 functions
  MainModule/Server/Core/Functions.lua
Labels: 📝 minor, 🚩 deprecation

#1088 Made createpart have correct values
  MainModule/Server/Dependencies/Assets/F3X Deps.rbxmx
Labels: ✨ enhancement

#1091 Fix :size causing small players to slide around
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Core/Variables.lua
Labels: ✨ enhancement, ⚡ command

#1105 Revert "Megafix Lint"
  MainModule/Client/UI/BasicAdmin.rbxmx
  MainModule/Client/UI/Mobilius.rbxmx
  MainModule/Client/UI/Rounded.rbxmx
  MainModule/Client/UI/Unity.rbxmx
  MainModule/Client/UI/Windows XP.rbxmx
Labels: 🐛 bug, 📱 UI

#1085 Fixed Adonis AC bypass which disables Adonis
  MainModule/Server/Dependencies/ClientMover.client.lua
Labels: ☢️ vulerability, 🛡️ anti-exploit

#1084 Made F3X Texture and Mesh tools extract asset id from links in provided text for better UX.
  MainModule/Server/Dependencies/Assets/F3X Deps.rbxmx
Labels: ✨ enhancement, 📱 UI

#1092 Add ":starterscript" command
  MainModule/Server/Commands/Admins.lua
Labels: ⚡ command
