Repository Epix-Incorporated/Adonis, pull requests merged in 2023-10, with the labels that each got.

#1022 For :dex command, Removed free lag from Dex - The "Filter workspace" searchbox should only search upon pressing enter
  MainModule/Server/Plugins/Server-Dex.rbxmx
Labels: ✨ enhancement, 📱 UI

#1229 Peace at last. - Made flight notif a hint
  MainModule/Server/Commands/Moderators.lua
Labels: ✨ enhancement, ⚡ command

#1216 Mass fix bugs in Adonis of 2023
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/update-lint.yml
  CONTRIBUTING.md
  Loader/Loader/Loader.server.lua
  MainModule/Client/Client.lua
  MainModule/Client/Core/Anti.lua
  MainModule/Client/Core/Core.lua
  MainModule/Client/Core/Process.lua
  MainModule/Client/Core/UI.lua
  MainModule/Client/UI/Default/Notepad.lua
  MainModule/Client/UI/Default/Window.rbxmx
  MainModule/Client/UI/Modern/Components/AdonisModernComponents/Message.lua
  MainModule/Client/UI/Modern/DISABLED_Notif.lua
  MainModule/Client/UI/Modern/Hint.lua
  MainModule/Client/UI/Modern/Message.lua
  MainModule/Client/UI/Modern/Notify.lua
  MainModule/Server/Commands/Admins.lua
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Core/Core.lua
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Core/Variables.lua
  MainModule/Server/Dependencies/Assets/AnimateAvatar.meta.json
  MainModule/Server/Dependencies/Assets/AnimateAvatar.server.lua
  MainModule/Server/Dependencies/Assets/Dogg.server.lua
  MainModule/Server/Dependencies/Assets/Fr0g.meta.json
  MainModule/Server/Dependencies/Assets/Fr0g.server.lua
  MainModule/Server/Dependencies/Assets/Kitty.meta.json
  MainModule/Server/Dependencies/Assets/Kitty.server.lua
  MainModule/Server/Dependencies/Assets/Nyan1.meta.json
  MainModule/Server/Dependencies/Assets/Nyan1.server.lua
  MainModule/Server/Dependencies/Assets/Nyan2.meta.json
  MainModule/Server/Dependencies/Assets/Nyan2.server.lua
  MainModule/Server/Dependencies/Assets/Pipe.rbxmx
  MainModule/Server/Dependencies/Assets/RigR15.rbxmx
  MainModule/Server/Dependencies/Assets/Shia.meta.json
  MainModule/Server/Dependencies/Assets/Shia.server.lua
  MainModule/Server/Dependencies/Assets/Sp00ks.meta.json
  MainModule/Server/Dependencies/Assets/Sp00ks.server.lua
  MainModule/Server/Dependencies/Assets/UFO.rbxmx
  MainModule/Server/Dependencies/Loadstring/LuaX.lua
  MainModule/Server/Dependencies/Loadstring/LuaY.lua
  MainModule/Server/Dependencies/Loadstring/init.lua
  MainModule/Server/Plugins/Debug_Specific.lua
  MainModule/Server/Plugins/Server-Dex.rbxmx
  MainModule/Server/Server.lua
  MainModule/Server/Shared/Service.lua
  README.md
  aftman.toml
  foreman.toml
  roblox.yml
  selene.toml
Labels: 🐛 bug, 🛠️ WIP

#1231 Fix SetFPS and RestoreFPS
  MainModule/Client/Core/Functions.lua
  MainModule/Server/Shared/Service.lua
Labels: 🐛 bug, ⚡ command

#1227 Generally refactor/improve GitHub repo's templates/actions
  .github/ISSUE_TEMPLATE/Bug_Report.yml
  .github/ISSUE_TEMPLATE/Feature_Request.yml
  .github/ISSUE_TEMPLATE/ask-a-question.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/make-a-github-related-problem-report-or-suggestion.md
  .github/ISSUE_TEMPLATE/report-a-bug.md
  .github/ISSUE_TEMPLATE/request-a-feature.md
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/greetings.yml
  .github/workflows/labeling.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/update-lint.yml
  .gitignore
  roblox.yml
Labels: github

#1201 Fix atmosphere support
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Core/Variables.lua
  MainModule/Server/Shared/Changelog.lua
Labels: 🎏 miscellaneous

#1233 Add !saveoutfit, !removeoutfit and extra flexibility to !avataritem
  MainModule/Server/Commands/Donors.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Shared/Service.lua
Labels: ✨ enhancement, ⚡ command
