Repository Epix-Incorporated/Adonis, pull requests merged in 2023-01, with the labels that each got.

#954 Remove `ThreadHandler`
  MainModule/Server/Dependencies/ThreadHandler/ClientThread.client.lua
  MainModule/Server/Dependencies/ThreadHandler/ClientThread.meta.json
  MainModule/Server/Dependencies/ThreadHandler/ServerThread.meta.json
  MainModule/Server/Dependencies/ThreadHandler/ServerThread.server.lua
  MainModule/Server/Dependencies/ThreadHandler/init.lua
  MainModule/Server/Server.lua
Labels: ✨ enhancement

#978 Fix Bots command num argument issues.
  MainModule/Server/Commands/Moderators.lua
Labels: ✨ enhancement, 📝 minor, ⚡ command

#955 Fix error with fly
  MainModule/Server/Commands/Moderators.lua
Labels: 🐛 bug, ⚡ command

#962 Made `:clear` additionally also do `:clean`
  MainModule/Server/Commands/Moderators.lua
Labels: ✨ enhancement, 📝 minor, ⚡ command

#961 Add support for `TextChatService` to `Admins.lua`
  Loader/Config/Settings.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: ✨ enhancement

#980 Changed sound parenting to SoundService
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Core/Remote.lua
  MainModule/Server/Shared/AudioLib.lua
Labels: ✨ enhancement

#977 Fixed unchat not applying vanilla chat
  MainModule/Client/Core/UI.lua
Labels: 🐛 bug, ⚡ command

#976 Fixed trello queue invalid empty check
  MainModule/Server/Dependencies/TrelloAPI.lua
Labels: 🐛 bug, trello

#950 Improve ;spin with the help of AI.
  MainModule/Server/Commands/Fun.lua
Labels: ✨ enhancement, ⚡ command

#943 Fix for the ":hint" & ":h" commands (Not visible while using Unity th…
  MainModule/Client/UI/Unity.rbxmx
Labels: 🐛 bug, 📱 UI

#944 Fix for "Unity" theme. Window Gui is creating unnecessary instances
  MainModule/Client/UI/Unity.rbxmx
Labels: 📱 UI

#960 Fix shia command support for newer character systems (R15 and others)
  MainModule/Server/Commands/Fun.lua
Labels: 🐛 bug, ⚡ command
