Repository Epix-Incorporated/Adonis, pull requests merged in 2023-12, with the labels that each got.

#1291 Move AutoClean to Miscfeatures plugin
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Plugins/Misc_Features.lua
Labels: 🎏 miscellaneous

#1290 cPcall removal part 2
  MainModule/Client/Core/Anti.lua
  MainModule/Client/Core/Core.lua
  MainModule/Client/Core/Functions.lua
  MainModule/Client/Core/Process.lua
  MainModule/Client/Core/Remote.lua
  MainModule/Client/Core/UI.lua
  MainModule/Client/Core/Variables.lua
  MainModule/Client/UI/BasicAdmin.rbxmx
  MainModule/Client/UI/Default/Chat.rbxmx
  MainModule/Client/UI/Default/Effect.lua
  MainModule/Client/UI/Default/HelpButton.lua
  MainModule/Client/UI/Default/Hint.rbxmx
  MainModule/Client/UI/Default/Message.rbxmx
  MainModule/Client/UI/Default/Notif.rbxmx
  MainModule/Client/UI/Default/Notification.rbxmx
  MainModule/Client/UI/Default/NotificationHolder.rbxmx
  MainModule/Client/UI/Default/Notify.rbxmx
  MainModule/Client/UI/Default/Output.rbxmx
  MainModule/Client/UI/Default/PlayerList.rbxmx
  MainModule/Client/UI/Default/TaskManager.rbxmx
  MainModule/Client/UI/Default/Window.rbxmx
  MainModule/Client/UI/Mobilius.rbxmx
  MainModule/Client/UI/Rounded.rbxmx
  MainModule/Client/UI/Steampunk/Console.rbxmx
  MainModule/Client/UI/Steampunk/HelpButton.lua
  MainModule/Client/UI/Steampunk/Message.rbxmx
  MainModule/Client/UI/Steampunk/Notif.rbxmx
  MainModule/Client/UI/Steampunk/Notification.rbxmx
  MainModule/Client/UI/Steampunk/NotificationHolder.rbxmx
  MainModule/Client/UI/Steampunk/Notify.rbxmx
  MainModule/Client/UI/Steampunk/Output.rbxmx
  MainModule/Client/UI/Steampunk/Ping.rbxmx
  MainModule/Client/UI/Steampunk/PrivateMessage.rbxmx
  MainModule/Client/UI/TransBlack/Alert.rbxmx
  MainModule/Client/UI/TransBlack/Message.rbxmx
  MainModule/Client/UI/TransBlack/Notification.rbxmx
  MainModule/Client/UI/TransBlack/Ping.rbxmx
  MainModule/Client/UI/TransBlack/Vote.rbxmx
  MainModule/Client/UI/TransBlack/Window.rbxmx
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Core/Anti.lua
  MainModule/Server/Core/Commands.lua
  MainModule/Server/Core/Core.lua
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Core/HTTP.lua
  MainModule/Server/Core/Logs.lua
  MainModule/Server/Core/Remote.lua
  MainModule/Server/Core/Variables.lua
  MainModule/Server/Plugins/Cross_Server.lua
  MainModule/Server/Plugins/Misc_Features.lua
Labels: ✨ enhancement

#1286 Fix chargear not working in r6
  MainModule/Server/Commands/Fun.lua
Labels: 🐛 bug, ⚡ command

#1294 Added search box to keybinds, and aliases
  MainModule/Client/UI/Default/UserPanel.lua
Labels: ✨ enhancement, 📱 UI

#1300 Cherry-pick some issues to release
  Loader/Config/Settings.lua
  MainModule/Client/Core/Process.lua
  MainModule/Server/Commands/Admins.lua
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
  MainModule/Server/Shared/Service.lua
Labels: 🐛 bug, trello

#1307 Fixed Command Box
  MainModule/Client/UI/Default/CommandBox.lua
  MainModule/Server/Commands/Moderators.lua
Labels: 🐛 bug

#1295 Adding BanMenu UI & adding functions+data models to the window code
  MainModule/Client/UI/Default/BanMenu.lua
  MainModule/Client/UI/Default/Window.rbxmx
  MainModule/Server/Commands/Admins.lua
Labels: 📱 UI

#1302 Modification of user name filling when tab is pressed in the default console
  MainModule/Client/UI/Default/Console.rbxmx
Labels: ✨ enhancement, 📱 UI

#1309 Fix :removestats
  MainModule/Server/Commands/Moderators.lua
Labels: 🐛 bug

#1305 Fix :sceleratis
  MainModule/Server/Commands/Fun.lua
Labels: 🐛 bug, ⚡ command

#1312 Implemented way to monitor Adonis Teleport status via a Character Attribute named "ADONIS_isTeleporting"
  MainModule/Server/Commands/Moderators.lua
Labels: 🛡️ anti-exploit

#1314 Added all properties and classes to ":GuiView"
  MainModule/Client/Core/Functions.lua
Labels: 🐛 bug, 📱 UI
