Repository Epix-Incorporated/Adonis, pull requests merged in 2023-02, with the labels that each got.

#999 remove Duplicated line and update todo list
  MainModule/Server/Server.lua
Labels: 📝 minor, 🐜 fault

#994 Made character type conversion clone `StarterCharacterScripts`
  MainModule/Server/Core/Functions.lua
Labels: ✨ enhancement

#992 Made `SavePlayerData` only save data for valid players
  MainModule/Server/Core/Core.lua
Labels: 🐛 bug, 📝 minor

#1003 Create ".editorconfig" & Apply A Default Tab Size
  .editorconfig
Labels: github

#1002 Fixed all public full Adonis bypasses
  MainModule/Server/Dependencies/ClientMover.client.lua
Labels: ☢️ vulerability

#993 [Datastore bug fix]: Fixes Adonis datastore spam (likely). Reduces datastore load by 70%-99%. Fixes Adonis breaking all of games datastores and chat filter
  MainModule/Server/Core/Core.lua
  MainModule/Server/Core/Functions.lua
Labels: 🐛 bug

#1007 Fixed type. Fixes selene
  MainModule/Server/Core/Core.lua
Labels: 🐛 bug
