Repository Epix-Incorporated/Adonis, pull requests merged in 2023-11, with the labels that each got.

#1223 Make `:BuyItem` only block limiteds
  Loader/Config/Settings.lua
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: ✨ enhancement, ⚡ command, 🛠️ WIP

#1198 Merge `:clone` and `:loadavatar`
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Core/Functions.lua
Labels: ⚡ command, 🎏 miscellaneous

#1208 Add command and command autocompletion support for TextChatService
  MainModule/Server/Core/Admin.lua
Labels: ✨ enhancement

#1217 Create `:sing` command
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Dependencies/Assets/Singer.lua
  MainModule/Server/Dependencies/Assets/Singer.meta.json
Labels: ⚡ command

#1245 Disabled protections superseded by `Workspace.RejectCharacterDeletions` on new games
  MainModule/Server/Plugins/Anti_Cheat.lua
Labels: 🛡️ anti-exploit, 🚩 discontinuation

#1244 Move GoodSignal from `Service.lua` to its own file
  MainModule/Server/Shared/GoodSignal.lua
  MainModule/Server/Shared/Service.lua
Labels: 🎏 miscellaneous

#1228 Add :outfit command
  MainModule/Server/Commands/Moderators.lua
Labels: ⚡ command

#1250 Fixed `:creeper` with non-default character sizes and proportions
  MainModule/Server/Commands/Fun.lua
Labels: 🐛 bug, ⚡ command

#1261 [Part1 of softshutdown fix]: Fix softshutdown failing and not retrying
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Plugins/Server-SoftShutdown.lua
Labels: 🐛 bug

#1267 Add command to debug anti cheat
  MainModule/Server/Plugins/Debug_Specific.lua
Labels: ⚡ command, 🛡️ anti-exploit

#1260 Small fix/improvement to zombie detection
  MainModule/Server/Commands/Fun.lua
Labels: 🐛 bug, 📝 minor

#1224 Show users device on exploitlogs for better analytics
  MainModule/Client/Core/Anti.lua
Labels: ✨ enhancement, 🛡️ anti-exploit

#1259 Fix longstanding issue with `:bot` animations not working with R15
  MainModule/Server/Core/Functions.lua
Labels: 🐛 bug

#1265 Misc fixes & improvements
  MainModule/Client/Client.lua
  MainModule/Client/Core/Functions.lua
  MainModule/Client/Core/Remote.lua
  MainModule/Client/Core/UI.lua
  MainModule/Client/UI/Default/Effect.lua
  MainModule/Server/Commands/Admins.lua
  MainModule/Server/Commands/Creators.lua
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/HeadAdmins.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Core/Anti.lua
  MainModule/Server/Core/Core.lua
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Core/Remote.lua
  MainModule/Server/Core/Variables.lua
  MainModule/Server/Plugins/Urgent_Messages.lua
  MainModule/Server/Shared/Service.lua
Labels: 🐛 bug

#1270 Fix tornado, anti, :buyitem, fpslocker, van, :slippery, convert deprecated/legacy items
  MainModule/Client/Client.lua
  MainModule/Client/Core/Functions.lua
  MainModule/Client/Plugins/Anti_Cheat.lua
  MainModule/Client/UI/Aero.rbxmx
  MainModule/Client/UI/BasicAdmin.rbxmx
  MainModule/Client/UI/Default/Chat.rbxmx
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Dependencies/Assets/Illegal.client.lua
  MainModule/Server/Dependencies/Assets/Van.rbxmx
  MainModule/Server/Plugins/Anti_Cheat.lua
  MainModule/Server/Plugins/ServerNewDex.rbxmx
  MainModule/Server/Plugins/Urgent_Messages.lua
Labels: 🐛 bug, ✨ enhancement, 🛡️ anti-exploit

#1235 Update Anti_Cheat.lua - More proper way of soundId check
  MainModule/Client/Plugins/Anti_Cheat.lua
Labels: 🐛 bug, ✨ enhancement, 🛡️ anti-exploit

#1272 Add Fresh Meat sound from Diablo 1 to :clown
  MainModule/Server/Commands/Fun.lua
Labels: ✨ enhancement

#1269 Add backwards compatibility code to a dedicated plugin
  MainModule/Server/Core/Remote.lua
  MainModule/Server/Plugins/Misc_Features.lua
Labels: ✨ enhancement

#1271 Merge chargear and plrgear and fix wrong tool position and clipping in to baseplate
  MainModule/Server/Commands/Fun.lua
Labels: 🐛 bug

#1274 Add particles to trigger
  MainModule/Server/Commands/Fun.lua
Labels: ✨ enhancement, ⚡ command

#1277 cPcall to task.spawn
  MainModule/Client/Client.lua
  MainModule/Client/Core/Core.lua
  MainModule/Client/Core/Functions.lua
  MainModule/Client/UI/Unity.rbxmx
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Server.lua
Labels: ✨ enhancement

#1278 Remove legacy CylinderMeshes from UFO
  MainModule/Server/Dependencies/Assets/UFO.rbxmx
Labels: ⚡ command, 🚩 discontinuation

#1276 Fix :spin
  MainModule/Server/Commands/Fun.lua
Labels: 🐛 bug

#1275 Add R6 versions of AnimatedFaces and fix sing again
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Core/Variables.lua
Labels: ✨ enhancement, ⚡ command

#1169 Updated ServerNewDex Plugin, with new features
  MainModule/Server/Plugins/ServerNewDex.rbxmx
Labels: ✨ enhancement

#1251 Move `UseLinkedListsInLogs` from Settings to Variables
  Loader/Config/Settings.lua
  MainModule/Server/Core/Logs.lua
  MainModule/Server/Core/Variables.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: 🖇️ loader

#1281 Optimise assert, fix webpanel debug, fix gamegravity default, fix TimeHint
  MainModule/Server/Commands/Admins.lua
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/HeadAdmins.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Commands/Players.lua
  WebPanel.lua
Labels: 🌐 webpanel, ⚡ command, 🚩 discontinuation

#1288 Remove linkedlist toggle in userfacing settings
  Loader/Config/Settings.lua
  MainModule/Server/Core/Logs.lua
Labels: 🖇️ loader, 🎏 miscellaneous

#1266 Add back legacy themes (Steampunk and TransBlack)
  MainModule/Client/Core/Remote.lua
  MainModule/Client/UI/Steampunk/Base_Theme.rbxmx
  MainModule/Client/UI/Steampunk/Console.rbxmx
  MainModule/Client/UI/Steampunk/HelpButton.lua
  MainModule/Client/UI/Steampunk/Hint.rbxmx
  MainModule/Client/UI/Steampunk/List.lua
  MainModule/Client/UI/Steampunk/Message.rbxmx
  MainModule/Client/UI/Steampunk/NoEnv.rbxmx
  MainModule/Client/UI/Steampunk/Notif.rbxmx
  MainModule/Client/UI/Steampunk/Notification.rbxmx
  MainModule/Client/UI/Steampunk/NotificationHolder.rbxmx
  MainModule/Client/UI/Steampunk/Notify.rbxmx
  MainModule/Client/UI/Steampunk/Output.rbxmx
  MainModule/Client/UI/Steampunk/Ping.rbxmx
  MainModule/Client/UI/Steampunk/PrivateMessage.rbxmx
  MainModule/Client/UI/Steampunk/Window.rbxmx
  MainModule/Client/UI/TransBlack/Alert.rbxmx
  MainModule/Client/UI/TransBlack/Base_Theme.rbxmx
  MainModule/Client/UI/TransBlack/Console.rbxmx
  MainModule/Client/UI/TransBlack/List.lua
  MainModule/Client/UI/TransBlack/Message.rbxmx
  MainModule/Client/UI/TransBlack/NoEnv.rbxmx
  MainModule/Client/UI/TransBlack/Notification.rbxmx
  MainModule/Client/UI/TransBlack/Ping.rbxmx
  MainModule/Client/UI/TransBlack/Vote.rbxmx
  MainModule/Client/UI/TransBlack/Window.rbxmx
  MainModule/Client/UI/TransBlack/YesNoPrompt.rbxmx
Labels: 📱 UI
