Repository Epix-Incorporated/Adonis, pull requests merged in 2023-08, with the labels that each got.

#1175 Fixed locale handling
  MainModule/Server/Shared/Service.lua
Labels: 🐛 bug, ✨ enhancement

#1133 Update Anti_Cheat.lua - Add StarterPack for CoreGui check
  MainModule/Client/Plugins/Anti_Cheat.lua
Labels: 🐛 bug, 🛡️ anti-exploit

#1162 Made the search bar show count of items in the current list.
  MainModule/Client/UI/Default/List.lua
Labels: ✨ enhancement, 📱 UI

#1151 Patch HookMT thingymabob
  MainModule/Client/Plugins/Anti_Cheat.lua
Labels: 🛡️ anti-exploit

#1186 Forbid the UWP version of Roblox
  Loader/Config/Settings.lua
  MainModule/Client/Plugins/Anti_Cheat.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: ✨ enhancement, 🛡️ anti-exploit

#1193 Remove Anti32bit
  Loader/Config/Settings.lua
  MainModule/Client/Plugins/Anti_Cheat.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: 🛡️ anti-exploit, 🚩 deprecation

#1195 Add support for in game locale changing
  MainModule/Server/Shared/Service.lua
Labels: ✨ enhancement

#1200 Convert improper usage of warn to print
  Loader/Loader/Loader.server.lua
  MainModule/Client/Core/Core.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Core/Logs.lua
  MainModule/Server/Plugins/Urgent_Messages.lua
  MainModule/Server/Server.lua
Labels: 🐜 fault

#1210 Fix broken shiney command
  MainModule/Server/Commands/Fun.lua
Labels: 🐛 bug, ⚡ command

#1209 Fix system messages appearing in general instead of in system messages
  MainModule/Client/Core/Functions.lua
Labels: 🐛 bug, 📝 minor

#1203 Whitelist RBLX Camera SFX - Update Anti_Cheat.lua
  MainModule/Client/Plugins/Anti_Cheat.lua
  MainModule/Server/Shared/Credits.lua
Labels: 🛡️ anti-exploit

#793 Made Yuenliang compiler work with Luau code
  MainModule/Server/Dependencies/Loadstring/LuaX.lua
  MainModule/Server/Dependencies/Loadstring/LuaY.lua
Labels: ✨ enhancement
