Repository Epix-Incorporated/Adonis, pull requests merged in 2023-03, with the labels that each got.

#1004 Fixed `TopBarShift` also fixes selene error
  Loader/Config/Settings.lua
  MainModule/Client/UI/Default/Hint.rbxmx
  MainModule/Client/UI/Default/TopBar.rbxmx
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: 🐛 bug, 📱 UI

#1000 Fix UserIds not checked
  MainModule/Server/Core/Admin.lua
Labels: 🐛 bug

#987 Updated F3X Deps to use better asset id extraction and misc HTTP related upgrades
  MainModule/Server/Dependencies/Assets/F3X Deps.rbxmx
Labels: ✨ enhancement

#995 Cleanup & small code refactor. And switched off of deprecated APIs
  MainModule/Client/Core/Functions.lua
  MainModule/Client/UI/Default/Notepad.lua
  MainModule/Server/Commands/Donors.lua
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Dependencies/Assets/BunnyHop.client.lua
  MainModule/Server/Dependencies/Assets/ClickTeleport.rbxmx
  MainModule/Server/Dependencies/Assets/Fly.client.lua
  MainModule/Server/Dependencies/Assets/FlyClipper.client.lua
  MainModule/Server/Dependencies/Assets/Fr0g.server.lua
  MainModule/Server/Dependencies/Assets/Glitcher.rbxmx
  MainModule/Server/Dependencies/Assets/Illegal.client.lua
  MainModule/Server/Dependencies/Assets/Nyan1.server.lua
  MainModule/Server/Dependencies/Assets/Nyan2.server.lua
  MainModule/Server/Dependencies/Assets/Piano.rbxmx
  MainModule/Server/Dependencies/Assets/Quacker.server.lua
  MainModule/Server/Dependencies/Assets/R15Animate.rbxmx
  MainModule/Server/Dependencies/Assets/R6Animate.rbxmx
  MainModule/Server/Dependencies/Assets/RigR15.rbxmx
  MainModule/Server/Dependencies/Assets/RigR6.rbxmx
  MainModule/Server/Dependencies/Assets/Seize.client.lua
  MainModule/Server/Dependencies/Assets/Sfling.rbxmx
  MainModule/Server/Dependencies/Assets/Shia.server.lua
  MainModule/Server/Dependencies/Assets/Slippery.client.lua
  MainModule/Server/Dependencies/Assets/Sp00ks.server.lua
  MainModule/Server/Dependencies/RebootHandler.rbxmx
  MainModule/Server/Plugins/FindExistingObjects.lua
  MainModule/Server/Plugins/Misc_Features.lua
  MainModule/Server/Plugins/Urgent_Messages.lua
  MainModule/Server/Shared/Service.lua
Labels: ✨ enhancement, 📝 minor, ⚡ command

#1006 Added "RemoveLayeredClothings" command
  MainModule/Server/Commands/Moderators.lua
Labels: ⚡ command

#957 (Vote on the poll) Added support of Luau generalised iteration to FiOne.lua
  MainModule/Server/Shared/FiOne.lua
Labels: ✨ enhancement
