Repository Epix-Incorporated/Adonis, pull requests merged in 2024-11, with the labels that each got.

#1695 Optimize linkedlists
  MainModule/Server/Shared/DoubleLinkedList.luau
Labels: ⌛needs PoF

#1692 Fix `:fly` being broken
  MainModule/Server/Dependencies/Assets/Fly.client.luau
Labels: 🐛 bug

#1685 Fix terminal error hadling
  MainModule/Server/Core/Remote.luau
Labels: 🐛 bug

#1684 Optimise enum handling
  MainModule/Client/Core/Functions.luau
  MainModule/Server/Commands/Moderators.luau
  MainModule/Server/Commands/Players.luau
  MainModule/Server/Core/Functions.luau
Labels: ✨ enhancement

#1617 Fix issue of debuggers, pentesting tools, script analysers and exploit simulators kicking people in Studio.
  MainModule/Client/Core/Anti.luau
Labels: ✨ enhancement

#1731 Add people missing from credits
  MainModule/Server/Shared/Credits.luau
Labels: 📝 minor

#1728 Only show profile picture for non-temporary users
  MainModule/Client/UI/Default/PrivateMessage.luau
Labels: ✨ enhancement, 📱 UI

#1722 Move :guiview` to a window
  MainModule/Client/Core/Functions.luau
Labels: 📱 UI

#1721 Allow loglimits to be edited by plugins.
  MainModule/Server/Commands/Admins.luau
  MainModule/Server/Core/Logs.luau
  MainModule/Server/Plugins/Server-SoftShutdown.luau
Labels: ✨ enhancement

#1720 Allow tabtotype to be updated
  MainModule/Server/Core/Logs.luau
Labels: ✨ enhancement

#1719 Fix leader stat handling
  MainModule/Server/Commands/Moderators.luau
Labels: ✨ enhancement, ⚡ command

#1718 Add better aliases for `:localaudio`
  MainModule/Server/Commands/Moderators.luau
Labels: ⚡ command

#1716 Fix fake player properties
  MainModule/Server/Core/Functions.luau
Labels: ✨ enhancement

#1715 Allow giving input text to notepad
  MainModule/Server/Commands/Players.luau
Labels: ✨ enhancement, ⚡ command

#1714 Make cleanup and oldlogs saving respect silentstartup
  MainModule/Server/Core/Logs.luau
  MainModule/Server/Server.luau
Labels: ✨ enhancement

#1709 Fix bug report version help image
  .github/ISSUE_TEMPLATE/Bug_Report.yml
  .github/ISSUE_TEMPLATE/loader_version.png
Labels: 📱 UI

#1682 Remove unnecessary cruft from server
  MainModule/Server/Server.luau
Labels: 🚩 discontinuation, 🎏 miscellaneous

#1738 Optimise `service.SanitizeString` and filter functions.
  MainModule/Server/Shared/Service.luau
Labels: 📝 minor

#1729 Use a datastore cache for Adonis Alerts
  MainModule/Server/Core/Core.luau
  MainModule/Server/Plugins/Urgent_Messages.luau
Labels: ✨ enhancement, extras

#1710 Cache F3X
  MainModule/Server/Commands/Admins.luau
Labels: extras

#1696 Add preliminary support for oldlogs encryption
  MainModule/Server/Commands/Moderators.luau
  MainModule/Server/Core/Logs.luau
Labels: extras

#1679 Fix vararg packing
  Loader/Loader/Loader.server.luau
  MainModule/Client/Core/Core.luau
  MainModule/Client/Core/Process.luau
  MainModule/Client/Core/Remote.luau
  MainModule/Server/Commands/Moderators.luau
  MainModule/Server/Core/Admin.luau
  MainModule/Server/Core/Core.luau
  MainModule/Server/Core/Process.luau
  MainModule/Server/Core/Remote.luau
  MainModule/Server/Plugins/Debug_Specific.luau
  MainModule/Server/Shared/FiOne/init.luau
  MainModule/Server/Shared/Service.luau
Labels: 🎏 miscellaneous

#1633 Change :resize to use Model :ScaleTo() method
  MainModule/Server/Commands/Fun.luau
Labels: ✨ enhancement, ⚡ command

#1678 Fix respawn block handling
  MainModule/Server/Commands/Fun.luau
Labels: 🎏 miscellaneous
