Repository Epix-Incorporated/Adonis, pull requests merged in 2024-03, with the labels that each got.

#1420 Made ping readout show in ms
  Loader/Loader/Loader.server.lua
  MainModule/Client/UI/Default/PerfStats.lua
Labels: ✨ enhancement

#1415 Fix !rejoin regarding max player server count
  Loader/Config/Settings.lua
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: 🐛 bug

#1423 Add Setting "ChatCreateRobloxCommands" to configure whether or not one wants Roblox Chat Commands to be generated
  Loader/Config/Settings.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: ✨ enhancement

#1425 Fix text being editable in lists
  MainModule/Client/UI/Default/Window.rbxmx
Labels: ✨ enhancement

#1426 Make dangerous commands prompt before being executed.
  MainModule/Server/Commands/Admins.lua
  MainModule/Server/Commands/Creators.lua
  MainModule/Server/Commands/HeadAdmins.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Core/Commands.lua
  MainModule/Server/Core/Process.lua
Labels: ✨ enhancement, ⚡ command

#1427 Update description of `:nil` command.
  MainModule/Server/Commands/Admins.lua
Labels: ✨ enhancement, ⚡ command

#1436 Fix :unfly command not working when SignalBehavior is set to Deferred
  MainModule/Server/Dependencies/Assets/Fly.client.lua
Labels: 🐛 bug, 🎏 miscellaneous

#1434 Remove fastload setting and change loading from ugly text to responsive and beatiful icon
  MainModule/Client/Core/Variables.lua
  MainModule/Client/UI/Default/Settings.lua
  MainModule/Client/UI/Default/UserPanel.lua
Labels: ✨ enhancement, 📱 UI, 🚩 discontinuation, ⌛needs PoF

#1440 Untrack fix for specific players
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Core/Process.lua
Labels: 🐛 bug, ⚡ command

#1439 Use :GetNetworkPing() accurately
  MainModule/Client/Plugins/Anti_Cheat.lua
  MainModule/Server/Commands/Moderators.lua
Labels: ✨ enhancement, 📝 minor

#1447 Fix team test issues
  MainModule/Server/Plugins/Cross_Server.lua
Labels: ✨ enhancement, 🎏 miscellaneous

#1450 Make the text selectable in :serverlist
  MainModule/Server/Plugins/Cross_Server.lua
Labels: ✨ enhancement, ⚡ command

#1451 Add a duration to :mute (as well as notify the person being muted)
  MainModule/Server/Commands/Moderators.lua
Labels: ✨ enhancement, ⚡ command

#1430 Implement a global restart system.
  MainModule/Server/Plugins/Cross_Server.lua
  MainModule/Server/Plugins/Server-SoftShutdown.lua
Labels: ⚡ command, ⌛needs PoF

#1429 Fix incognito mode.
  MainModule/Server/Commands/Admins.lua
  MainModule/Server/Commands/HeadAdmins.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Core/Process.lua
Labels: 🐛 bug, ⚡ command, ⌛needs PoF

#1431 Keep the player layouts in the server after a restart
  MainModule/Server/Plugins/Server-SoftShutdown.lua
Labels: ✨ enhancement, ⚡ command

#1453 :banlist text selectable, :timebanlist actually giving reasons, and specified if a ban is a global ban or a server ban
  MainModule/Server/Commands/Admins.lua
  MainModule/Server/Commands/HeadAdmins.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Core/Admin.lua
Labels: ✨ enhancement, 📱 UI

#1456 Revert "Replace the alert sound in :alert"
  MainModule/Client/UI/Default/Alert.lua
Labels: ✨ enhancement

#1455 LoadExistingPlayer no longer warns while loading a player
  MainModule/Server/Core/Core.lua
Labels: ✨ enhancement, 📝 minor

#1457 Added :removecam and fixed :makecam making a camera called "nil" if n…
  MainModule/Server/Commands/Moderators.lua
Labels: ✨ enhancement, ⚡ command

#1458 Make getting the KEY from the server a RemoteFunction
  MainModule/Client/Core/Core.lua
  MainModule/Server/Core/Process.lua
Labels: ✨ enhancement, ⚡ command, 🛡️ anti-exploit

#1461 Revert actor change from BotBrain.
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Dependencies/Assets/BotBrain.rbxmx
Labels: ✨ enhancement
