Repository Epix-Incorporated/Adonis, pull requests merged in 2024-08, with the labels that each got.

#1572 Set Removed to true when player fails a Join Filter
  MainModule/Server/Core/Process.luau
Labels: ✨ enhancement

#1573 Made :invisible also make currently equipped tool invisible
  MainModule/Server/Commands/Moderators.luau
Labels: ✨ enhancement

#1587 Fix typo in Loadstring dependency affecting :ss
  MainModule/Server/Dependencies/Loadstring/LuaY.luau
Labels: 🐛 bug

#1584 Fix Join command
  MainModule/Server/Commands/Players.luau
Labels: 🐛 bug, ⚡ command

#1590 Remove :cut command
  MainModule/Server/Commands/Fun.luau
Labels: 🚩 discontinuation
