Repository Epix-Incorporated/Adonis, pull requests merged in 2024-04, with the labels that each got.

#1464 Add device option to bug report
  .github/ISSUE_TEMPLATE/Bug_Report.yml
Labels: github

#1465 Fix typeo in Functions.lua
  MainModule/Server/Core/Functions.lua
Labels: ✨ enhancement

#1467 Added placeholder texts for aliases and keybinds
  MainModule/Client/UI/Default/UserPanel.lua
Labels: ✨ enhancement

#1469 Code quality improvements
  MainModule/Client/UI/Default/Window.rbxmx
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Core/Functions.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Shared/DoubleLinkedList.lua
Labels: ✨ enhancement

#1470 Update FiOne and use JIT for it
  MainModule/Server/Shared/FiOne.lua
Labels: ✨ enhancement, ⌛needs PoF

#1476 Fix error with SoftShutdown process
  MainModule/Server/Plugins/Server-SoftShutdown.lua
Labels: 🐛 bug, ✨ enhancement

#1472 Make loadstring use proto conversion
  MainModule/Client/Client.lua
  MainModule/Client/Core/Core.lua
  MainModule/Server/Commands/Admins.lua
  MainModule/Server/Core/Core.lua
  MainModule/Server/Dependencies/Loadstring/VirtualEnv.lua
  MainModule/Server/Dependencies/Loadstring/init.lua
  MainModule/Server/Dependencies/LocalScriptBase.client.lua
  MainModule/Server/Dependencies/ScriptBase.server.lua
  MainModule/Server/Shared/FiOne.lua
Labels: ✨ enhancement, ⌛needs PoF

#1479 Add Unix-like pipe IO support
  MainModule/Server/Core/Process.lua
  MainModule/Server/Shared/Service.lua
Labels: ✨ enhancement

#1478 Use buffer for deserialisation instead of string
  MainModule/Server/Shared/FiOne.lua
Labels: ✨ enhancement

#1483 Added missing CanvasGroup class within GetGuiData() func
  MainModule/Client/Core/Functions.lua
Labels: ✨ enhancement, 📱 UI

#1484 Fix duration time in Functions.lua
  MainModule/Server/Core/Functions.lua
Labels: 🐛 bug

#1486 Added Luau global import optimisation
  MainModule/Server/Dependencies/Loadstring/LuaX.lua
Labels: ✨ enhancement

#1485 Change command aliases for ShowTrelloBanList
  MainModule/Server/Commands/Moderators.lua
Labels: ⚡ command

#1487 Remove hyperion debug info and remove tbl alias added in nightly
  MainModule/Client/Core/Anti.lua
  MainModule/Server/Commands/Moderators.lua
Labels: ✨ enhancement
