Repository Epix-Incorporated/Adonis, pull requests merged in 2024-05, with the labels that each got.

#1490 Plugin clean-up
  MainModule/Server/Plugins/Anti_Cheat.lua
  MainModule/Server/Plugins/Cross_Server.lua
  MainModule/Server/Plugins/Debug_Specific.lua
  MainModule/Server/Plugins/FindExistingObjects.lua
  MainModule/Server/Plugins/Misc_Features.lua
  MainModule/Server/Plugins/Server-SoftShutdown.lua
  MainModule/Server/Plugins/Urgent_Messages.lua
Labels: ✨ enhancement

#1502 Addition of HiddenThemes setting
  Loader/Config/Settings.lua
  MainModule/Client/UI/Default/UserPanel.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
  MainModule/Server/Server.lua
Labels: ✨ enhancement, 📱 UI

#1503 Enhance user ID integration and fix command info display issues
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Core/Functions.lua
Labels: ✨ enhancement, 📱 UI

#1512 Fix for :undance (:uneffect alias) not stopping dance animation
  MainModule/Client/Core/Functions.lua
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Core/Functions.lua
Labels: ✨ enhancement

#1514 HttpEnabled view
  MainModule/Server/Core/HTTP.lua
Labels: ✨ enhancement

#1518 Fix !wat inconsistently running due to inaccessible sounds
  MainModule/Server/Commands/Fun.lua
Labels: ✨ enhancement

#1519 Fix for :freecam locking mouse in the center of the screen due to shift-lock activation
  MainModule/Server/Dependencies/Assets/Freecam.rbxmx
Labels: 🐛 bug

#1524 :freecam now consistently gives out toggle instructions
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Dependencies/Assets/Freecam.rbxmx
Labels: ✨ enhancement

#1528 Ootimie server changelog conversion
  MainModule/Client/Client.lua
  MainModule/Server/Server.lua
Labels: ✨ enhancement

#1531 :freecam now has a controller keybind (DPadLeft)
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Dependencies/Assets/Freecam.rbxmx
Labels: ✨ enhancement

#1520 Protect metamethod detectors
  MainModule/Client/Core/Anti.lua
Labels: ✨ enhancement
