Repository Epix-Incorporated/Adonis, pull requests merged in 2024-06, with the labels that each got.

#1539 Fix issue with escape character selectors
  MainModule/Server/Core/Admin.lua
Labels: 🐛 bug

#1541 Add subscription rank filter
  Loader/Config/Settings.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Shared/Service.lua
Labels: ✨ enhancement, 🖇️ loader

#1542 Update to :bans
  MainModule/Server/Commands/Moderators.lua
Labels: ✨ enhancement

#1547 whoops
  MainModule/Server/Commands/Moderators.lua
Labels: 🐛 bug, 📝 minor, ⚡ command

#1543 Add missing 'by' term in both settings files
  Loader/Config/Settings.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: 📝 minor, 🐜 fault
