Repository Epix-Incorporated/Adonis, pull requests merged in 2024-02, with the labels that each got.

#1388 Made userpanel display if nightly is used
  MainModule/Client/UI/Default/UserPanel.lua
  MainModule/Server/Core/Logs.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Server.lua
Labels: 📱 UI

#1389 Optimise yanderedev code
  MainModule/Server/Core/Process.lua
Labels: ✨ enhancement

#1396 Remove PoF labels automatically
  .github/workflows/pof_handler.yml
Labels: github

#1348 Create alert about disabling anti cheat, remove legacy anti cheat code and fix urgent messages
  MainModule/Server/Dependencies/__URGENT_MESSAGES.lua
  MainModule/Server/Plugins/Anti_Cheat.lua
Labels: 🛡️ anti-exploit, 🎏 miscellaneous

#1400 Delete webpanel functions
  MainModule/Server/Plugins/Generate_CmdList_JSON.lua
  MainModule/Server/Plugins/WebPanel.lua
  WebPanel.lua
Labels: 🌐 webpanel, 🚩 discontinuation

#1397 Add waypoints finally to the settings, remove cpcall & legacy requestid and make commands use logpcall
  Loader/Config/Settings.lua
  MainModule/Client/UI/Aero/Chat.rbxmx
  MainModule/Client/UI/Aero/Console.rbxmx
  MainModule/Client/UI/Aero/HelpButton.lua
  MainModule/Client/UI/Aero/Hint.rbxmx
  MainModule/Client/UI/Aero/Message.rbxmx
  MainModule/Client/UI/Aero/Notif.rbxmx
  MainModule/Client/UI/Aero/Notification.rbxmx
  MainModule/Client/UI/Aero/Notify.rbxmx
  MainModule/Client/UI/Aero/Output.rbxmx
  MainModule/Client/UI/Aero/PlayerList.rbxmx
  MainModule/Client/UI/Aero/Window.rbxmx
  MainModule/Client/UI/Unity/Console.rbxmx
  MainModule/Client/UI/Unity/HelpButton.lua
  MainModule/Client/UI/Unity/Hint.rbxmx
  MainModule/Client/UI/Unity/Message.rbxmx
  MainModule/Client/UI/Unity/Notif.rbxmx
  MainModule/Client/UI/Unity/Notification.rbxmx
  MainModule/Client/UI/Unity/Notify.rbxmx
  MainModule/Client/UI/Unity/Output.rbxmx
  MainModule/Client/UI/Unity/TopBar.rbxmx
  MainModule/Client/UI/Unity/Window.rbxmx
  MainModule/Client/UI/Windows XP/Console.rbxmx
  MainModule/Client/UI/Windows XP/HelpButton.lua
  MainModule/Client/UI/Windows XP/Hint.rbxmx
  MainModule/Client/UI/Windows XP/Message.rbxmx
  MainModule/Client/UI/Windows XP/Notification.rbxmx
  MainModule/Client/UI/Windows XP/Notify.rbxmx
  MainModule/Client/UI/Windows XP/Output.rbxmx
  MainModule/Client/UI/Windows XP/Window.rbxmx
  MainModule/Server/Commands/Fun.lua
  MainModule/Server/Core/Variables.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
  MainModule/Server/Dependencies/TrelloAPI.lua
  MainModule/Server/Plugins/Misc_Features.lua
Labels: 📝 minor, ⌛needs PoF

#1408 Make the Entry UI look a lot less weird
  MainModule/Client/UI/Default/UserPanel.lua
Labels: ✨ enhancement, 📱 UI

#1410 fix(Admin.lua): RunCommand logic fix
  MainModule/Server/Core/Admin.lua
Labels: 🐛 bug

#1411 Fixed SaveCommandLogs
  MainModule/Server/Commands/Creators.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Core/Logs.lua
Labels: 🐛 bug, 🎏 miscellaneous

#1413 Setting list search additions.
  MainModule/Client/UI/Default/UserPanel.lua
Labels: ✨ enhancement, 📱 UI

#1414 Allow Performance Stats window to be resized
  MainModule/Client/UI/Default/PerfStats.lua
Labels: ✨ enhancement, 📱 UI
