Repository Epix-Incorporated/Adonis, pull requests merged in 2024-09, with the labels that each got.

#1593 Fix TopBarShift for Notif (:setmessage)
  MainModule/Client/UI/Default/Notif.rbxmx
Labels: 🐛 bug, 📱 UI

#1597 Add Text Selections to the :players Command
  MainModule/Server/Commands/Moderators.luau
Labels: ✨ enhancement

#1598 Improve Modern-Theme
  MainModule/Client/Core/UI.luau
  MainModule/Client/UI/Default/UserPanel.luau
  MainModule/Client/UI/Modern/Components/AdonisModernComponents/Hint.luau
  MainModule/Client/UI/Modern/Components/Packages/Winro/init.luau
  MainModule/Client/UI/Modern/DISABLED_Notif.luau
  MainModule/Client/UI/Modern/Hint.luau
  MainModule/Client/UI/Modern/List.luau
  MainModule/Client/UI/Modern/Message.luau
  MainModule/Client/UI/Modern/Message.rbxm
  MainModule/Client/UI/Modern/Notif.rbxm
  MainModule/Client/UI/Modern/Notification.rbxm
  MainModule/Client/UI/Modern/NotificationHolder.rbxm
  MainModule/Client/UI/Modern/Notify.luau
  MainModule/Client/UI/Modern/Notify.rbxm
  MainModule/Client/UI/Modern/Window.rbxm
  MainModule/Client/UI/Modern/YesNoPrompt.luau
  MainModule/Client/UI/ModernLight/Base_Theme.txt
  MainModule/Client/UI/ModernLight/Notification.rbxm
  MainModule/Client/UI/ModernLight/Window.rbxm
  MainModule/Server/Commands/Moderators.luau
  MainModule/Server/Core/Functions.luau
Labels: ✨ enhancement, 📱 UI

#1595 Replace Coords.luau
  MainModule/Client/UI/Default/Coords.luau
  MainModule/Server/Dependencies/Assets/Fly.client.luau
Labels: ⚡ command

#1594 feat: Added a search player bar on the `:privatechat` command
  MainModule/Client/UI/Default/PrivateChat.luau
Labels: ✨ enhancement, 📱 UI
