Repository Epix-Incorporated/Adonis, pull requests merged in 2024-01, with the labels that each got.

#1313 Fixed Settings.Notification and tweaked something
  MainModule/Server/Core/Process.lua
Labels: 🐛 bug

#1319 Fixed :clip not stopping :noclip
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Dependencies/Assets/Clipper.client.lua
  MainModule/Server/Dependencies/Assets/Clipper.meta.json
  MainModule/Server/Dependencies/Assets/Clipper.rbxmx
Labels: 🐛 bug

#1297 Adds name argument to :starterscript; Adds :starterscripts; Adds :removestarterscript <name>
  MainModule/Server/Commands/Admins.lua
Labels: ✨ enhancement

#1326 String Matching Fix
  MainModule/Server/Core/Functions.lua
Labels: 🐛 bug

#1308 Added FPS Command
  MainModule/Client/UI/Default/FPS.lua
  MainModule/Server/Commands/Players.lua
Labels: ⚡ command

#1339 Revert regressions introduced in #1313 and #1308
  MainModule/Server/Commands/Players.lua
  MainModule/Server/Core/Process.lua
Labels: 🎏 miscellaneous

#1338 Fix FPS gui
  MainModule/Client/UI/Default/FPS.lua
Labels: ⚡ command, ⌛needs PoF

#1343 Fix Duplicate Display of Reason in Kick Message
  MainModule/Server/Core/Admin.lua
Labels: 🐛 bug

#1335 Make disabling linkedlists a loader flag
  MainModule/Server/Core/Logs.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
  MainModule/Server/Server.lua
Labels: 🎏 miscellaneous

#1345 Improve bug report form
  .github/ISSUE_TEMPLATE/Bug_Report.yml
Labels: github

#1303 Notify admins what rank they are upon joining
  MainModule/Server/Core/Process.lua
Labels: ✨ enhancement

#1334 Make givepoints an alias
  MainModule/Server/Commands/Creators.lua
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Core/Core.lua
  MainModule/Server/Core/Variables.lua
  MainModule/Server/Plugins/Misc_Features.lua
Labels: ⚡ command, 🎏 miscellaneous

#1315 Added in-game Script Editor
  MainModule/Client/UI/Default/ScriptEditor.lua
  MainModule/Server/Commands/Creators.lua
  MainModule/Server/Core/Remote.lua
  MainModule/Server/Core/Variables.lua
Labels: ⚡ command, 📱 UI

#1287 Update !playerinfo command - Get Render Resolution
  MainModule/Client/Core/Functions.lua
  MainModule/Client/UI/Default/Profile.lua
Labels: ✨ enhancement, ⚡ command

#1346 Add NoLog option to Commands
  MainModule/Server/Core/Commands.lua
  MainModule/Server/Core/Process.lua
Labels: 🖇️ loader

#1364 Removed blank description displaying
  MainModule/Client/UI/Default/Window.rbxmx
Labels: ✨ enhancement, 📝 minor, 📱 UI

#1362 Make Server accept raw Lua code serverplugins
  Loader/Loader/Loader.server.lua
  MainModule/Server/Dependencies/Loadstring/init.lua
  MainModule/Server/Server.lua
Labels: 🎏 miscellaneous

#1363 Added unjail upon command executor leave
  Loader/Config/Settings.lua
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Core/Process.lua
  MainModule/Server/Dependencies/DefaultSettings.lua
Labels: ✨ enhancement, ⚡ command

#1344 Make list texts be able to be clicked
  MainModule/Client/UI/Default/List.lua
  MainModule/Client/UI/Default/Window.rbxmx
Labels: 📝 minor, 📱 UI, ⌛needs PoF

#1365 Make Client accept raw Lua code clientplugins
  Loader/Loader/Loader.server.lua
  MainModule/Client/Client.lua
  MainModule/Server/Server.lua
Labels: 🎏 miscellaneous

#1366 Fix jail color not working
  MainModule/Server/Commands/Moderators.lua
Labels: 🐛 bug, ⚡ command

#1367 Fix slowmode logging
  MainModule/Server/Core/Admin.lua
  MainModule/Server/Core/Process.lua
Labels: 🐛 bug, ⚡ command

#1368 Fix :Smite freezing everyone
  MainModule/Server/Commands/Fun.lua
Labels: 🐛 bug, ⚡ command

#1369 Add three properties to :infect
  MainModule/Server/Commands/Fun.lua
Labels: ✨ enhancement, ⚡ command

#1372 Made commands use better, more accurate and functional ping check
  MainModule/Server/Commands/Moderators.lua
Labels: 🐛 bug, ⚡ command

#1371 Merge ping and fps commands
  MainModule/Client/UI/Default/PerfStats.lua
  MainModule/Client/UI/Default/Ping.lua
  MainModule/Server/Commands/Players.lua
Labels: ⚡ command

#1373 Fix RefreshGui not giving a theme over to Client
  MainModule/Server/Core/Remote.lua
Labels: 🐛 bug, 📱 UI

#1375 Fixed malformed group inputs giving everybody a rank
  MainModule/Server/Core/Admin.lua
Labels: 🐛 bug

#1379 Mass RichText and Empty Description Fix
  MainModule/Client/UI/Aero.rbxmx
  MainModule/Client/UI/Rounded.rbxmx
  MainModule/Client/UI/Steampunk/Window.rbxmx
  MainModule/Client/UI/TransBlack/Window.rbxmx
  MainModule/Client/UI/Windows XP.rbxmx
Labels: 🐛 bug, 📱 UI

#1380 It's a number not a string
  MainModule/Server/Plugins/Anti_Cheat.lua
Labels: 📝 minor

#1382 Update command desc for `:flyclip` to show it doesn't allow noclipping
  MainModule/Server/Commands/Moderators.lua
Labels: 📝 minor, ⚡ command

#1384 Tell mainmodule and loader version on boot
  MainModule/Server/Server.lua
Labels: 🖇️ loader

#1383 Add flynoclip as a command name to fly and make flyclip an alias
  MainModule/Server/Commands/Moderators.lua
  MainModule/Server/Plugins/Misc_Features.lua
Labels: ⚡ command

#1391 Folderise Aero theme
  MainModule/Client/UI/Aero.rbxmx
  MainModule/Client/UI/Aero/Base_Theme.rbxmx
  MainModule/Client/UI/Aero/Chat.rbxmx
  MainModule/Client/UI/Aero/Console.rbxmx
  MainModule/Client/UI/Aero/HelpButton.lua
  MainModule/Client/UI/Aero/Hint.rbxmx
  MainModule/Client/UI/Aero/Message.rbxmx
  MainModule/Client/UI/Aero/NoEnv.rbxmx
  MainModule/Client/UI/Aero/Notif.rbxmx
  MainModule/Client/UI/Aero/Notification.rbxmx
  MainModule/Client/UI/Aero/Notify.rbxmx
  MainModule/Client/UI/Aero/Output.rbxmx
  MainModule/Client/UI/Aero/PlayerList.rbxmx
  MainModule/Client/UI/Aero/Window.rbxmx
Labels: 📱 UI

#1392 Made quacker be on the client
  MainModule/Server/Dependencies/Assets/Quacker.meta.json
Labels: 📝 minor

#1387 Remove cpcall v2
  MainModule/Client/UI/Default/Console.rbxmx
  MainModule/Client/UI/Steampunk/Window.rbxmx
  MainModule/Client/UI/TransBlack/PrivateMessage.rbxmx
  MainModule/Server/Dependencies/Assets/AnimateAvatar.server.lua
  MainModule/Server/Plugins/Anti_Cheat.lua
  MainModule/Server/Plugins/Debug_Specific.lua
Labels: ✨ enhancement

#1386 Optimise logcheck
  MainModule/Client/Plugins/Anti_Cheat.lua
Labels: ✨ enhancement
