Repository Epix-Incorporated/Adonis, pull requests merged in 2025-08, with the labels that each got.

#1930 Fix Visual Studio Code invalidly indenting
  .vscode/settings.json
Labels: github

#1949 add: userpanel settings clear confirmation
  MainModule/Client/UI/Default/UserPanel.luau
Labels: ✨ enhancement, 📱 UI, 🎏 miscellaneous

#1935 Add "Font" to service so that it can be used in UI elements.
  MainModule/Shared/Service.luau
Labels: ✨ enhancement, extras

#1938 Fix CMDx detection
  MainModule/Client/Plugins/Anti_Cheat.luau
Labels: 🛡️ anti-exploit, ⌛needs PoF

#1921 Add donor debug commands
  MainModule/Server/Plugins/Debug_Specific.luau
Labels: ⌛needs PoF

#1956 Change NoFakePlayer to UseFakePlayer and default it to false to fix the majority of commands validation
  MainModule/Server/Commands/Admins.luau
  MainModule/Server/Commands/Creators.luau
  MainModule/Server/Commands/HeadAdmins.luau
  MainModule/Server/Commands/Moderators.luau
  MainModule/Server/Commands/Players.luau
  MainModule/Server/Core/Functions.luau
  MainModule/Server/Core/Process.luau
  MainModule/Server/Core/Remote.luau
  MainModule/Server/Plugins/Debug_Specific.luau
  MainModule/Server/Plugins/Trello.luau
Labels: ✨ enhancement
