Repository Epix-Incorporated/Adonis, pull requests merged in 2025-01, with the labels that each got.

#1800 Fix indexing nil tab
  MainModule/Server/Core/Logs.luau
Labels: 🐛 bug

#1799 Add override for TShirt Asset Type
  MainModule/Server/Commands/Moderators.luau
Labels: 🐛 bug

#1775 Fix :oddliest
  MainModule/Server/Commands/Fun.luau
Labels: ⚡ command

#1697 Update urgent messages module on publish
  .github/alerts.deploy.project.json
  .github/workflows/publish.yml
Labels: ⌛needs PoF

#1764 Update Roblox STD before lint
  build.bat
  build.sh
Labels: github

#1774 Use JIT for Visualizer and Slider and use optimization level 2 for Visualizer
  MainModule/Client/UI/Default/Music/Slider.luau
  MainModule/Client/UI/Default/Music/Visualizer.luau
Labels: 🎏 miscellaneous

#1777 Add a way to define cameras in settings
  Loader/Config/Settings.luau
  MainModule/Server/Core/Variables.luau
  MainModule/Server/Dependencies/DefaultSettings.luau
Labels: 🎏 miscellaneous

#1778 Allow team names with spaces to be created via :teams
  MainModule/Client/UI/Default/Teams.luau
Labels: ⚡ command, 📱 UI

#1803 [Core.luau] Add task.wait workaround for loading large data in Studio
  MainModule/Server/Core/Core.luau
Labels: ✨ enhancement

#1805 New "clear" sub-command on "whitelist" for easy whitelist clearing
  MainModule/Server/Commands/Admins.luau
Labels: ⚡ command

#1821 Fix friends tab for !profile command
  MainModule/Client/UI/Default/Profile.luau
Labels: 🐛 bug, ✨ enhancement, 📱 UI

#1810 Update SECURITY.md to match CoasterTeam's message
  SECURITY.md
Labels: 📝 minor, github

#1829 Change default prefix to ;
  Loader/Config/Settings.luau
  MainModule/Server/Dependencies/DefaultSettings.luau
Labels: ⚠️ major, 🖇️ loader

#1834 Move MockDataStore from XML
  MainModule/Server/Dependencies/MockDataStoreService.rbxmx
  MainModule/Server/Dependencies/MockDataStoreService/MockDataStoreConstants.lua
  MainModule/Server/Dependencies/MockDataStoreService/MockDataStoreManager.lua
  MainModule/Server/Dependencies/MockDataStoreService/MockDataStorePages.lua
  MainModule/Server/Dependencies/MockDataStoreService/MockDataStoreService.lua
  MainModule/Server/Dependencies/MockDataStoreService/MockDataStoreUtils.lua
  MainModule/Server/Dependencies/MockDataStoreService/MockGlobalDataStore.lua
  MainModule/Server/Dependencies/MockDataStoreService/MockOrderedDataStore.lua
  MainModule/Server/Dependencies/MockDataStoreService/init.lua
Labels: github, 🎏 miscellaneous

#1830 Prevent used globals from being counted multiple times in :ss
  MainModule/Server/Dependencies/Loadstring/LuaX.luau
Labels: ✨ enhancement, 🎏 miscellaneous

#1845 Fix postcode handling
  MainModule/Client/UI/Default/ServerDetails.luau
Labels: ⚡ command, 📱 UI
